@charset "UTF-8";

* {
	font-family:돋움,Dotum;
	margin:0;
	padding:0;
}
html, body {
	height:100%;
	width:100%;
}
body {
	overflow:hidden;
	visibility:hidden;
}
/*a {
	color:#fff;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
}*/
img {
	border:0;
}
#MenuBar {
	/*background-color:rgb(43,43,45);*/
	background-color:rgb(220,220,222);
	height:40px;
	overflow:hidden;
	width:100%;
}
#MenuBar a {
	display:block;
	float:left;
}
#MenuBar a img {
	height:24px;
	margin:8px;
	width:24px;
}
#MenuBar a.over {
	background-color:rgb(200,200,202);
}
#MenuBar a.click {
	border-bottom:2px solid rgb(0,163,224);
	height:38px;
}
#MenuBar p {
	display:block;
	float:left;
	font-size:12px;
	margin-top:14px;
}
#MenuBar p.split {
	border-left:1px solid rgb(210,210,212);
	border-right:1px solid rgb(230,230,232);
	height:26px;
	margin:7px 10px 0 10px;
}
#MenuBar input {
	border:1px solid rgb(100,100,100);
	display:block;
	float:left;
	margin-top:8px;
	padding:4px;
}
#MenuBar select {
	border:1px solid rgb(100,100,100);
	display:block;
	float:left;
	margin-top:8px;
	padding:3px 4px;
	width:120px;
}
#Toc {
	background-color:rgb(234,234,235);
	border-right:1px solid rgb(0,163,224);
	overflow:hidden;
	padding:5px;
	position:absolute;
	width:240px;
}
#Toc a {
	color:rgb(80, 80, 82);
	display:block;
	font-size:13px;
	text-decoration:none;
}
#Toc .item {
	padding:6px 5px;
	cursor:pointer;
}
#Toc .split {
	border-bottom:1px solid rgb(244,244,245);
	border-top:1px solid rgb(224,224,225);
	height:0;
	width:240px;
}
#Toc #ScrollToc {
	display:none;
	overflow:hidden;
	position:absolute;
	right:4px;
	top:5px;
	width:6px;
}
#Toc #ScrollToc .lane {
	background-color:rgb(240,240,242);
	border-radius:6px;
	height:100%;
	opacity:0.8;
	position:absolute;
	width:100%;
}
#Toc #ScrollToc #BarToc {
	background-color:rgb(160,160,162);
	border-radius:6px;
	position:absolute;
	width:100%;
}
#Stage {
	background-color:#f8f8f8;
	overflow:hidden;
	position:absolute;
}
#Stage #1page {
	display:none;
}
#Stage #2pages {
	display:none;
}
#Stage #continue {
	display:none;
}
#Stage canvas {
	cursor:pointer;
	position:absolute;
}
#Stage .scroll {
	display:none;
	overflow:hidden;
	position:absolute;
}
#Stage .scroll.x {
	bottom:3px;
	height:6px;
	left:5px;
}
#Stage .scroll.y {
	right:3px;
	top:5px;
	width:6px;
}
#Stage .scroll .lane {
	background-color:rgb(240,240,242);
	border-radius:6px;
	height:100%;
	opacity:0.8;
	position:absolute;
	width:100%;
}
#Stage .scroll .bar {
	background-color:rgb(160,160,162);
	border-radius:6px;
	position:absolute;
}
#Stage .scroll .bar.x {
	height:100%;
}
#Stage .scroll .bar.y {
	width:100%;
}
#Stage .move {
	background-color:rgb(187,187,189);
	background-repeat:no-repeat;
	opacity:0.1;
	position:absolute;
	top:30px;
	width:60px;
}
#Stage .move.prev {
	background-image:url(/img/stage/prev.png);
	border-radius:8px 0 0 8px;
	left:35px;
}
#Stage .move.next {
	background-image:url(/img/stage/next.png);
	border-radius:0 8px 8px 0;
	right:35px;
}
#Stage .move a {
	display:block;
	height:100%;
	width:100%;
}
#Loading {
	display:none;
	left:50%;
	margin-left:-40px;
	margin-top:-10px;
	position:absolute;
	top:50%;
}
#Loading .ball {
	border:10px solid rgb(130,0,0);
	border-radius:50%;
	position:absolute;
}
#Loading #Ball1 {
	left:0;
}
#Loading #Ball2 {
	left:20px;
}
#Loading #Ball3 {
	left:40px;
}
#Loading #Ball4 {
	left:60px;
}
